.negative {
    color: red;
}

.positive {
    color: blue;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.hidden{
    display:none;
}

.cursor-pointer {
    cursor: pointer;
}
